<h2>Busr: Smart Way Finding</h2>

Busr is a start-up project of Enneagineering that has a front end consumer facing transit information service with transit tools to ease public transit and general commuting problems. Behind the scenes it provides a means for profiling traffic and urban environments to find efficient pathways for way finding that has larger commercial applications.  This app will be on the web using Node.js/HTML5/Redis; on iOS as an app for iPhone/Pod/Pad; and on Android.  It incorporates programming in Javascript, Ruby, Python, Java, Objective-C and C++ languages.  For more info contact: <a href="m.j.h.mccarron@gmail.com">Mikey McCarron</a> 415-323-3648

<br /><br />

<h3>Competitors:</h3><br /> 

Universal Transit App competition:<br />
<ul>
<!-- 	<li><a href="http://www.kickstarter.com/projects/228865951/transit-app-for-ios-6-and-beyond/posts/364832">http://www.kickstarter.com/projects/228865951/transit-app-for-ios-6-and-beyond/posts/364832</a></li>
	-->
	<li><a href="http://www.moovitapp.com/">http://www.moovitapp.com/</a></li>
	<li><a href="http://thetransitapp.com/">http://thetransitapp.com/</a></li>
</ul>
		NYC specific:<br />
		<ul>
		 <li><a href="http://web.mta.info/apps/">http://web.mta.info/apps/</a></li>

				
</ul>
	
	
<h3>Research: Big Data Analysis on Traffic Flow</h3>

<ul>
	<li><a href="http://en.wikibooks.org/wiki/Fundamentals_of_Transportation">Fundamentals of Transportation </a>[wikibook:read start:<a href="http://en.wikibooks.org/wiki/Fundamentals_of_Transportation/Traffic_Flow">trafficFlow</a>]</li>
	
	<li><a href="http://en.wikipedia.org/wiki/Traffic_flow">Traffic Flow Generalization</a></li>
	
	<li><a href="http://www.springer.com/physics/complexity/book/978-3-642-32459-8">Modeling Traffic Flow [BOOK]</a></li>
	
	<li><a href="http://www.thp.uni-koeln.de/~as/Mypage/traffic.html">Cellular Automata Traffic Flow Modeling</a></li>
	
	<li><a href="http://www.ce.berkeley.edu/~daganzo/PAPER.PDF">Traffic Flow Modeling and it's Applications</a></li>
	
	<li><a href="http://link.springer.com/chapter/10.1007%2F978-3-642-21219-2_12#page-1">AI in Traffic Flow</a></li>
	
	
	<li><a href="http://www.informationweek.com/big-data/news/big-data-analytics/dublin-points-big-data-tech-at-traffic-j/240155213">Dublin Traffic Monitoring System</a></li>
	
	<li><a href="http://www.intel.com/content/dam/www/public/us/en/documents/case-studies/big-data-xeon-e5-trustway-case-study.pdf">Intel Big Data Traffic Analysis</a></li>
	
	<li><a href="http://www.cs.uic.edu/~urbcomp2013/papers/Paper%2015_Tostes.pdf">City Wide Traffic Flow Analysis</a></li>
	
	<li><a href="http://users.ece.cmu.edu/~sazimi/SAE2011.pdf">Collision Avoidance at Intersections</a></li>
	
	<li><a href="http://corporate.ford.com/microsites/sustainability-report-2012-13/financial-mobility">Ford's Mobility Project</a></li>
	
</ul>

<h3>Applications with ROI</h3>
<ul>
	<li>Consumer Facing Transit Info and Tools (busr.info)</li>
	<li>Smart Navigation Systems </li>
	<li>Self Driving Transportation Modules (Modular transportations systems)</li>
</ul>


<h3>Tech Tools for Urban Traffic Modeling and Analysis:</h3>
<ul>
	<li><a href="http://sumo-sim.org/">Simulation of Urban Mobility (SUMO)</a></li>
	<li><a href="https://github.com/openplans/OpenTripPlanner/wiki">Open Trip Planner</a>
	<li><a href="https://github.com/openxc/openxc-message-format">Accessing Vehicle Data</a></li>
	<li><a href="http://www.inrix.com/publicsector.asp">Inrix</a></li>
</ul>	

<h3>Autonomous Automobiles</h3>
<ul>
	<li><a href="http://en.wikipedia.org/wiki/Autonomous_car">Autonomous Vehicles Introduction</a>
	<li><a href="http://www.driverless-future.com/">Driverless Futures</a></li>
	<li><a href="https://www.facebook.com/pages/Alliance-Automotive/181557428540918">Alliance Automotive</a></li>
	
	
	
</ul>

<h3>General Transit Research</h3>
<ul>
	<li><a href="http://en.wikipedia.org/wiki/Automatic_vehicle_location">Automatic Vehicle Location</a></li>
	
	<li><a href="http://www.ite.org/meetings/2009TC/Session%2029_Robert%20Arnold.pdf">Real Time Data Exchange in Transport</a></li>
	
</ul>


<h3>Transit Ridership</h3>


<br />
<b>Initial Cities List:</b> (% of pop using transit for commuting)<br />
1. New York, New York - 55.66% <br />
2. Jersey City, New Jersey - 45.82% <br />
3. Washington, D.C. - 38.30% <br />
4. San Francisco, California - 34.05%<br />
5. Boston, Massachusetts - 32.82%<br />
6. Arlington, Virginia - 28.54%<br />
7. Philadelphia, Pennsylvania - 27.19%<br />
8. Cambridge, Massachusetts - 26.60%<br />
9. Newark, New Jersey - 26.50%<br />
10. <a href="http://www.transitchicago.com/developers/bustracker.aspx">Chicago, Illinois - 26.50%</a><br />
11. Yonkers, New York - 24.95%<br />
12. Daly City, California - 21.45%<br />
13. Hartford, Connecticut - 21.19%<br />
14. Alexandria, Virginia - 21.12%<br />
15. Seattle, Washington - 18.19%<br />
16. Pittsburgh, Pennsylvania - 18.03%<br />
17. Baltimore, Maryland - 17.64%<br />
18. Berkeley, California - 17.36%<br />
19. Oakland, California - 17.21%<br />
20. Minneapolis, Minnesota - 15.18%<br />
21. East Los Angeles, California - 14.85%<br />
<br /><br />

Any transit agency with public data could be added to the app, including Internationally.  See List: <a href="https://code.google.com/p/googletransitdatafeed/wiki/PublicFeeds">https://code.google.com/p/googletransitdatafeed/wiki/PublicFeeds</a><br />

Real Time: <a href="https://code.google.com/p/googletransitdatafeed/wiki/PublicFeedsNonGTFS">
https://code.google.com/p/googletransitdatafeed/wiki/PublicFeedsNonGTFS</a>

	

