<h2>Busr: Smart Way Finding for Transit</h2>
 <img src="/images/wy.png" style="width: 50%; padding: 4px; float: right; text-align: center;" title="busr stops for route map">
<p>

<h3>Transit Adaptor (transitor) - Find Smart Routes in Transit (Coming Soon!)</h3>
<b>Features:</b> Smart Route Finding, Real Time Rider-to-Rider Feedback/Messaging, Commuter Alarm Clock<br />
<b>Platforms:</b> Web (Node.js/HTML5), iOS and Android<br />
<b>API:</b> Busr consumes non-standardized feeds which vary from agency to agency and standardized <a href="https://developers.google.com/transit/gtfs/">GTFS Feeds</a> and then presents all feeds in a uniform GTFS based API and for real-time data in <a href="https://developers.google.com/transit/gtfs-realtime/">GTFS-Realtime</a> to ease transit app development.  


  




