<h3>Route: {{route_id}}</h3>




 {{!-- stops.length --}}
 
{{ route_map.length }}
 
 <style>
 #map {
 	position: absolute;
    text-position: center;
 
 	height: 50%;
 	width: 70%;
 	z-index: 1;
 }
 
 
 <style>
 .leaflet-control-command{
 	background-image: url('/bus_stop_icon.png');
	
 }
 
 
 
 .leaflet-control-layers-toggle:after{ 
	 background-image: url('/bus_stop_icon.png');
     content:" "; 
     color:#000 ;
	 width: 50px;
	 height: 50px;
	 background-position: 50% 50%;
	 background-repeat: no-repeat;
	 display: block;
	 padding: 3px;
	 border-radius: 4px;
	 -webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	 box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
	 cursor: auto;
	 text-align: center;
	 background-color: #FFFFFF;
  }

  .leaflet-control-layers-toggle:hover
	 {
	     background-color: #F4F4F4;
	 }
 .leaflet-control-layers-toggle{ 
     width:auto;
     background-position:3px 50% ;
     padding:0px;
    
     text-decoration:none;
     line-height:36px;

 }
 </style>
 
 </style>
 
<div id="latlng"></div>
<div id="map"></div>

  
  
  <script type="text/javascript">
  var sched = new Array();
  
   /*
  sched['trip_id'] = {{trip_id}};
  sched['stop_id'] = {{stop_id}};
  sched['arrival_time'] = {{arrival_time}};
  sched['sequencer'] = {{sequencer}};
  sched['distance_from_head'] = {{distance_from_head}};
  sched['days'] = {{days}};
 
 //sched.push(' {{trip_id}} {{stop_id}} {{arrival_time}} {{sequencer}} {{distance_from_head}} {{days}}');
 */ 
 
 
  {{#each schedules}}

  sched.push({
      trip_id: '{{trip_id}}',
	  stop_id: '{{stop_id}}',
	  arrival_time: '{{arrival_time}}',
	  sequencer: '{{sequencer}}',
	  distance_from_head: '{{distance_from_head}}',
	  days: '{{days}}'
  });
  
	    
  {{/each}}
  var sched_len = sched.length;
  //alert(sched_len + sched[0] );
  </script>
  
  
  
<script type="text/javascript">

	var latlngs = new Array();
		
	{{#each route_map}}
		 latlngs.push(new L.LatLng( {{shape_pt_lat}},{{shape_pt_lon}} ));
	{{/each}}
		
		      var stops = [
	              {{#each stops}}

		          {
		               "type": "Feature",
		               "properties": { 
				           "stop_id": "{{stop_id}}", 
    			            "stop_name": "{{stop_name}}",
			                "popupContent": "<b>{{stop_name}}</b><br />Stop ID: {{stop_id}} ",
							
			            },
		                "geometry": {
		                   "type": "Point",
		                   "coordinates": [ {{stop_lat}}, {{stop_lon}} ]
		                }
		          },
	
  	              {{/each}}
		       ];
		
			   var geojsonMarkerOptions = {
			       radius: 3,
			       fillColor: "#ff7800",
			       color: "#000",
			       weight: 1,
			       opacity: 1,
			       fillOpacity: 0.8
			   };
			   
			   var busIcon = L.icon({
			       iconUrl: '/bus_stop_icon.png',
			       shadowUrl: '/tri.png',
			       iconSize:     [32, 32], // size of the icon
			       shadowSize:   [32, 32], // size of the shadow
			       iconAnchor:   [16, 16], // point of the icon which will correspond to marker's location
			       shadowAnchor: [4, 4],  // the same for the shadow
			       popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
			   });
		
			   var routeIcon = L.icon({
			       iconUrl: '/route_marker.png',
			       shadowUrl: '/tri.png',
			       iconSize:     [12, 12], // size of the icon
			       shadowSize:   [12, 12], // size of the shadow
			       iconAnchor:   [6, 6], // point of the icon which will correspond to marker's location
			       shadowAnchor: [6, 6],  // the same for the shadow
			       popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
			   });
		
	           var stopies = new L.LayerGroup();
			   
			   {{#each stops}}
			        L.marker([ {{stop_lat}}, {{stop_lon}} ],{icon: busIcon}).bindPopup( '{{stop_name}} - {{stop_id}}' ).addTo(stopies),
			   {{/each}}
 
	           L.marker([0, -0]).bindPopup('Prime Meridian.').addTo(stopies);
			   
	           var map_points = new L.LayerGroup();
			   
			   {{#each route_map}}
			        L.marker([ {{shape_pt_lat}}, {{shape_pt_lon}} ], {icon: routeIcon}).bindPopup( '{{shape_dist_traveled}} - {{shape_id}}: {{shape_pt_sequence}}' ).addTo(map_points),
			   {{/each}}
 
	           L.marker([0, -0]).bindPopup('0,0').addTo(map_points);
			   
	           var cmAttr = 'Busr.info Map data &copy; 2011 OpenStreetMap contributors',
	           cmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';

	           var minimal   = L.tileLayer(cmUrl, {attribution: cmAttr}),
	           midnight  = L.tileLayer(cmUrl, { attribution: cmAttr}),
	           motorways = L.tileLayer(cmUrl, {attribution: cmAttr});

		       var map = L.map('map', {
		           zoom: 10,
		           layers: [minimal, motorways, stopies]
		       });

		       var baseLayers = {
		           "Minimal": minimal,
		           "Transfers": midnight
		       };

		       var overlays = {
		           "Route Line": map_points,
		           "Stops": stopies
		       };

		       L.control.layers(baseLayers, overlays).addTo(map);
	
			   L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				            attribution: '© <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
				            maxZoom: 18
				         }).addTo(map);			
	 
			    var onLocationFound = function(e) {
					var radius = e.accuracy / 2;
					//$("#latlng").text(e.latlng);
					L.marker(e.latlng).addTo(map)
						.bindPopup("Me: " + e.latlng).openPopup();

					L.circle(e.latlng, radius).addTo(map);
				}

			    var onLocationError = function(e) {
				    $("#latlng").text("ERROR: "+e.message);
					
				}
			
				// create a red polyline from an arrays of LatLng points
				var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
						
			  map.on('locationfound', onLocationFound);
			  map.on('locationerror', onLocationError);
			  map.locate({setView: true, zoom: 16, maxZoom: 16});
	     
			
				
        </script>





 <br /><br />
  <br /><br />
   <br /><br />
    <br /><br />


